@model Garden.Models.GardenUser

@{
    ViewData["Title"] = "Details";
}
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="addContactLabel">
                    <i class="fas fa-user mr-2"></i>
                    @Model.Name
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row p-2 border-bottom">
                    <label class="col-xl-4 mt-1 text-primary font-weight-bold">
                        <i class="fas fa-calendar mr-2"></i>
                        @Html.Raw("등록날짜")
                    </label>
                    <div class="col-xl-8 mt-1">
                        @Model.IsActiveDate.Value.ToShortDateString()
                    </div>
                </div>

                <div class="form-row p-2 border-bottom">
                    <label class="col-xl-4 mt-1 text-primary font-weight-bold">
                        <i class="fas fa-phone mr-2"></i>
                        @Html.Raw("연락처")
                    </label>
                    <div class="col-xl-8 mt-1">
                        @Model.Tel
                    </div>
                </div>

                <div class="form-row p-2 border-bottom">
                    <label class="col-xl-4 mt-1 text-primary font-weight-bold">
                        <i class="fas fa-address-book mr-2"></i>
                        @Html.Raw("주소")
                    </label>
                    <div class="col-xl-8 mt-1">
                        @Model.Address
                    </div>
                </div>

                <div class="form-row p-2">
                    <label class="col-xl-4 mt-1 text-primary font-weight-bold">
                        <i class="fas fa-feather mr-2"></i>
                        @Html.Raw("메모")
                    </label>
                    <div class="col-xl-8 mt-1">
                        @Html.Raw(Model.Description)
                    </div>
                </div>

                @if (Model.ParentUserName != null)
                {
                    <div class="form-row p-2 border-top">
                        <label class="col-xl-4 mt-1 text-info font-weight-bold">
                            <i class="fas fa-user-check mr-2"></i>
                            @Html.Raw("보호자")
                        </label>
                        <div class="col-xl-8 mt-1">
                            @Html.Raw(Model.ParentUserName)
                        </div>
                    </div>
                }

                @if (Model.ParentUserTel != null)
                {
                    <div class="form-row p-2 border-top">
                        <label class="col-xl-4 mt-1 text-info font-weight-bold">
                            <i class="fas fa-phone mr-2"></i>
                            @Html.Raw("보호자 연락처")
                        </label>
                        <div class="col-xl-8 mt-1">
                            @Html.Raw(Model.ParentUserTel)
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-md" data-dismiss="modal">@Html.Raw("닫기")</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/vendor/jquery/jquery.js"></script>