@model Garden.Models.GardenWorkTime

@{
    ViewData["Title"] = "Create";
    int gardenTaskId = (int)ViewData["GardenTaskId"];
    int gardenUserId = (int)ViewData["GardenUserId"];
    string gardenUserName = (string)ViewData["GardenUserName"];
}

<div class="col-xl-12 mb-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <span class="text-info font-weight-bold mr-2">정원 업무시간 생성</span>
        </h1>
        <input type="hidden" id="GardenTaskId" value="@gardenTaskId" />
        <input type="hidden" id="GardenUserId" value="@gardenUserId" />
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-info" asp-controller="GardenTasks" asp-action="Details" asp-route-id="@gardenTaskId">
                <i class="fas fa-arrow-left fa-sm text-white-50"></i>
                @Html.Raw("목록으로")
            </a>
        </div>
    </div>
</div>

<div class="col-xl-7">
    <div class="card shadow mb-3">
        <div class="card-header">
            <span class="text-info font-weight-bold">
                <i class="fas fa-feather fa-fw mr-2"></i>
                @gardenUserName
            </span>
        </div>
        <div class="card-body">
             <table class="table table-hover">
                 <tbody>
                     <tr>
                         <td>@Html.Raw("시작 날짜")</td>
                         <td>
                             <input type="text" class="form-control" asp-for="TaskDate"/>
                         </td>
                     </tr>
                     <tr>
                         <td>@Html.Raw("업무 요일")</td>
                         <td>
                             <table class="table table-bordered">
                                 <thead>
                                     <tr class="text-center">
                                         <td>@Html.Raw("일")</td>
                                         <td>@Html.Raw("월")</td>
                                         <td>@Html.Raw("화")</td>
                                         <td>@Html.Raw("수")</td>
                                         <td>@Html.Raw("목")</td>
                                         <td>@Html.Raw("금")</td>
                                         <td>@Html.Raw("토")</td>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr class="text-center">
                                         <td><input type="checkbox" style="width:25px; height:25px;"/></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                         <td><input type="checkbox" style="width:25px; height:25px;" /></td>
                                     </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>
<div class="col-xl-5">
    <div class="card shadow mb-3">
        <div class="card-header">
            <span class="text-info font-weight-bold">
                <i class="fas fa-calendar fa-fw mr-2"></i>
                @Html.Raw("시작날짜 선정")
            </span>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
