<div class="col-xl-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-user-cog fa-fw"></i>
                @Html.Raw("사용자 관리")
            </h6>
          
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <table class="table table-hover" id="userAdmin_dt">
                        <thead>
                            <tr>
                                <th>@Html.Raw("이름")</th>
                                <th>@Html.Raw("역할")</th>
                                <th>@Html.Raw("소속 정원")</th>
                                <th>@Html.Raw("활성화")</th>
                                <th>@Html.Raw("생성날짜")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/userAdmin.js"></script>