<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">다엘음악학원</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @Html.Raw("총 인원")
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="gardenUser_count">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                @Html.Raw("이달의 업무 갯수")
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="gardenSpace_task">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                @Html.Raw("공지사항")
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="gardenSpace_board">
                                    @Html.Raw("준비중 입니다")
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                @Html.Raw("이벤트")
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="gardenSpace_event"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bell fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-7">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">@Html.Raw("이벤트")</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="col-xl-12">
                                <label class="font-weight-bold text-success" id="today_birth_user_tb">
                                    <i class="fas fa-birthday-cake mr-2"></i>
                                    @Html.Raw("오늘 생일")
                                </label>
                                <div class="w-100" style="overflow-y:auto; max-height:25vh;">
                                    <table class="table table-hover">
                                    </table>
                                    <div id="today_birth_no" class="text-center">
                                        <h3 class="text-success font-weight-bold"> 오늘의 생일 인원 이 없네요.</h3>
                                    </div>
                                </div>
                                  
                            </div>
                            <br />
                            <div class="col-xl-12 border-top">
                                <label class="font-weight-bold text-success mt-3">
                                    <i class="fas fa-calendar mr-2"></i>
                                    @Html.Raw("이달의 생일")
                                </label>
                                <div class="w-100" style="overflow-y:auto; max-height:25vh;">
                                    <table class="table table-hover" id="month_birth_user_tb">
                                    </table>
                                    <div id="month_birth_no" class="text-center">
                                        <h3 class="text-success font-weight-bold"> 이달의 생일 인원 이 없네요.</h3>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="col-xl-12 border-top">
                                <label class="font-weight-bold text-success mt-3">
                                    <i class="fas fa-star mr-2"></i>
                                    @Html.Raw("등록 1주년 수강생")
                                </label>

                                <div class="w-100" style="overflow-y:auto; max-height:25vh;">
                                    <table class="table table-hover" id="one_year_user_tb">
                                    </table>
                                    <div id="one_year_no"  class="text-center">
                                        <h3 class="text-success font-weight-bold"> 오늘은 등록 1주년 인원 이 없네요.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@Html.Raw("이달의 등록인원")</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-hover" id="month_active_user_tb">
                            </table>
                            <div id="month_active_no" class="text-center">
                                <h3 class="text-success font-weight-bold">이달의 등록인원이 없네요.</h3>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        //이달의 업무 갯수 가져오기
        getCurrentMonthTask();
        getTotalCount();
        getEventCount();
        
        getTodayBirthInfo();
        getMonthBirthInfo();
        getOneYearUserInfo();
        getMonthActiveUserInfo();
    });

    //이달 등록인원 정보 가져오기
    function getMonthActiveUserInfo() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('GET', '/Home/GetMonthActiveUserInfo', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && Array.isArray(JSON.parse(this.response))) {
                JSON.parse(this.response).forEach(function (ele, index) {
                    let table = document.getElementById('month_active_user_tb');
                    let newRow = table.insertRow();

                    let typeCell = newRow.insertCell(0);
                    let nameCell = newRow.insertCell(1);
                    let dateCell = newRow.insertCell(2);

                    let badge = "badge badge-primary";

                    if (ele.role == "강사") {
                        badge = "badge badge-info";
                    }

                    typeCell.innerHTML = '<span class="' + badge + '">' + ele.role + '</span>';
                    nameCell.innerText = ele.name;
                    dateCell.innerText = ele.active_day;
                });

                document.getElementById('month_active_no').style.display = "none";
            }
        };
        httpRequest.send();
    }

    //오늘 생일 정보 가져오기
    function getTodayBirthInfo() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('GET', '/Home/GetTodayBirthInfo', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && Array.isArray(JSON.parse(this.response))) {
                JSON.parse(this.response).forEach(function (ele, index) {
                    let table = document.getElementById('today_birth_user_tb');
                    let newRow = table.insertRow();

                    let typeCell = newRow.insertCell(0);
                    let nameCell = newRow.insertCell(1);
                    let dateCell = newRow.insertCell(2);

                    let badge = "badge badge-primary";

                    if (ele.role == "강사") {
                        badge = "badge badge-info";
                    }

                    typeCell.innerHTML = '<span class="' + badge + '">' + ele.role + '</span>';
                    nameCell.innerText = ele.name;
                    dateCell.innerText = ele.birthday;
                });

                document.getElementById('today_birth_no').style.display = "none";
            }
        };
        httpRequest.send();
    }

    //이달의 생일 정보 가져오기
    function getMonthBirthInfo() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('GET', '/Home/GetMonthBirthInfo', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && Array.isArray(JSON.parse(this.response))) {
                              
                JSON.parse(this.response).forEach(function (ele, index) {
                    let table = document.getElementById('month_birth_user_tb');
                    let newRow = table.insertRow();

                    let typeCell = newRow.insertCell(0);
                    let nameCell = newRow.insertCell(1);
                    let dateCell = newRow.insertCell(2);

                    let badge = "badge badge-primary";

                    if (ele.role == "강사") {
                        badge = "badge badge-info";
                    }

                    typeCell.innerHTML = '<span class="' + badge + '">' + ele.role + '</span>';
                    nameCell.innerText = ele.name;
                    dateCell.innerText = ele.birthday;
                });

                document.getElementById('month_birth_no').style.display = "none";
            } 
        };
        httpRequest.send();
    }

    //등록 1주년 수강생 정보 가져오기
    function getOneYearUserInfo() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('GET', '/Home/GetOneYearUserInfo', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && Array.isArray(JSON.parse(this.response))) {

                JSON.parse(this.response).forEach(function (ele, index) {
                    let table = document.getElementById('one_year_user_tb');
                    let newRow = table.insertRow();

                    let typeCell = newRow.insertCell(0);
                    let nameCell = newRow.insertCell(1);

                    let badge = "badge badge-primary";

                    if (ele.role == "강사") {
                        badge = "badge badge-info";
                    }

                    typeCell.innerHTML = '<span class="' + badge + '">' + ele.role + '</span>';
                    nameCell.innerText = ele.name;
                });

                document.getElementById('one_year_no').style.display = "none";
            } 
        };
        httpRequest.send();
    }

    function getCurrentMonthTask() {
        //이달의 업무 갯수 가져오기
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenSpaces/GetGardenSpaceOtherInfo', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200) {
                console.log(this.response);
                document.getElementById('gardenSpace_task').innerText = this.response.replace(/\"/g, '');
            } else {
                errorMessage();
            }
        };
        httpRequest.send();
    }

    //원생 전체수
    function getTotalCount() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenSpaces/GetGardenPeopleCount', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200) {
                console.log(this.response);
                document.getElementById('gardenUser_count').innerText = this.response;
            } else {
                errorMessage();
            }
        };
        httpRequest.send();
    }
    //이벤트
    function getEventCount() {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenSpaces/GetGardenEventCount', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200) {
                console.log(this.response);
                document.getElementById('gardenSpace_event').innerText = this.response.replace(/\"/g, '');
            } else {
                errorMessage();
            }
        };
        httpRequest.send();
    }
</script>