@model Garden.Models.BaseType

@{
    ViewData["Title"] = "기본 타입 삭제";
}
<!-- Modal -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger font-weight-bold" id="addContactLabel">
                    <i class="fas fa-trash mr-2"></i>
                    @ViewData["Title"]
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* 데이터 처리가 성공적으로 완료되었는지 여부를 표시 *@
                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row p-2">
                        <label class="col-xl-4 mt-1 text-danger">
                            <i class="fas fa-genderless mr-2"></i>
                            @Html.Raw("이름")
                        </label>
                        <div class="col-xl-8">
                            <input type="text" asp-for="Name" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-row p-2">
                        <label class="col-xl-4 mt-1">
                            @Html.Raw("설명")
                        </label>
                        <div class="col-xl-8">
                            <input type="text" asp-for="Description" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-row p-2" style="display:none" id="warning_div">
                        <span class="text-danger font-weight-bold" id="warning_span"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-md" data-dismiss="modal">@Html.Raw("취소")</button>
                <button type="button" class="btn btn-secondary btn-md" data-save="modal">@Html.Raw("삭제하기")</button>
            </div>
        </div>
    </div>
</div>

