@model IEnumerable<Garden.Models.BaseType>

<div class="col-xl-3 p-3">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                @Html.Raw("기본 타입")
            </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">@Html.Raw("그외 작업"):</div>
                    <button type="button" class="dropdown-item font-weight-bold" id="baseSubType_create_btn" onclick="openModal('BaseTypes','Create')" value="">
                        <i class="fas fa-plus-circle text-primary mr-3"></i>
                        @Html.Raw("기본 타입 생성")
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless p-0">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="p-1 border-bottom">
                            <td>
                                <button class="btn btn-link text-info" onclick="GetBasySubTypeList('@item.Id')">
                                    <i class="fas fa-fw fa-circle mr-2"></i>
                                    @item.Name
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-link text-danger float-right" data-permission="delete" onclick="openModal('BaseTypes','Delete',@item.Id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <button class="btn btn-link text-success float-right" data-permission="update" onclick="openModal('BaseTypes','Edit',@item.Id)">
                                    <i class="fas fa-brush"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-xl-9 p-3">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                @Html.Raw("관련 서브 타입")
            </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">@Html.Raw("그외 작업"):</div>
                    <button type="button" class="dropdown-item font-weight-bold" id="baseSubType_create_btn" onclick="openModal('BaseSubTypes','Create')">
                        <i class="fas fa-plus-circle text-primary mr-3"></i>
                        @Html.Raw("관련 서브타입 생성")
                    </button>           
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table" id="baseSubType_dt">
                <thead>
                    <tr>
                        <th>@Html.Raw("타입 명")</th>
                        <th>@Html.Raw("이름")</th>
                        <th>@Html.Raw("설명")</th>
                        <th class="text-right">@Html.Raw("관리")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/js/baseType.js"></script>
