@model IEnumerable<Garden.Models.BaseType>

<link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<div class="col-xl-3 p-3">
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                @Html.Raw("기본 타입")
            </h6>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link text-primary" onclick="GetBasySubTypeList(@item.Id)">
                                    <i class="far fa-fw fa-circle mr-2"></i>
                                    @item.Name
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-xl-9 p-3">
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                @Html.Raw("관련 서브 타입")
            </h6>
        </div>
        <div class="card-body">
            <table class="table" id="baseSubType_dt">
                <thead>
                    <tr>
                        <th>@Html.Raw("이름")</th>
                        <th>@Html.Raw("설명")</th>
                        <th class="text-right">@Html.Raw("관리")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="~/js/baseType.js"></script>
