@model Garden.Models.Permission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Permission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
