@model Garden.Models.GardenFee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GardenFee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSubType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSubType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenSpace.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
