
<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="col-xl-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-coins fa-fw"></i>
                @Html.Raw("정원 회비 관리")
            </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">@Html.Raw("그외 작업"):</div>
                    <a class="dropdown-item font-weight-bold" asp-controller="GardenFees" asp-action="IndexForFeeType">
                        <i class="fas fa-cogs text-primary mr-3"></i>
                        @Html.Raw("회비 타입 관리")
                    </a>
                    <button type="button" class="dropdown-item font-weight-bold" id="baseSubType_create_btn" onclick="openModal('GardenSpaces', 'Edit')" value="">
                        <i class="fas fa-brush text-success mr-3"></i>
                        @Html.Raw("수정")
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="text-info font-weight-bold">@DateTime.Now.Month 월</h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-12">
                    <table class="table table-hover" id="gardenFee_dt">
                        <thead>
                            <tr class="text-center">
                                <th>@Html.Raw("이름")</th>
                                <th>@Html.Raw("타입")</th>
                                <th>@Html.Raw("할인타입")</th>
                                <th>@Html.Raw("납부날짜")</th>
                                <th>@Html.Raw("만료날짜")</th>
                                <th>@Html.Raw("납부체크")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    var gardenUser_dataTable = $('#gardenFee_dt').DataTable({
        'ajax': {
            'url': "/GardenFees/GetGardenFeeJsonList?id=1",
            'type': 'GET',
            'datatype': 'json'
        },
        'columns': [
            {
                'data': 'userName', 'className': 'text-center m-2',
                'render': function (data, type, row, meta) {
                    return '<button type="button" class="btn btn-link text-info font-weight-bold" onclick="openModal(\'GardenFees\',\'Details\',\'' + row.feeId +'\')">' + data + '</button>';
                },
            },
            {
                'data': 'feeType', 'className': 'text-center m-2',
                'render': function (data, type, row, meta) {
                    if (data != "-") {
                        return data + '<button type="button" class="btn btn-link text-success ml-2" onclick="EditFeeTypeOpen(\'' + row.feeId+'\', this)"><i class="fas fa-brush"></i></button>';
                    } else {
                        return data;
                    }
                },
            },
            {
                'data': 'discountType', 'className': 'text-center m-2',
                'render': function (data, type, row, meta) {
                    if (data != "-") {
                        return data + '<button type="button" class="btn btn-link text-success ml-2" onclick="EditDiscountTypeOpen(\'' + row.feeId +'\', this)"><i class="fas fa-brush"></i></button>';
                    } else {
                        return data;
                    }
                }
            },
            {
                'data': 'createDate', 'className': 'text-center m-2',
                'render': function (data, type, row, meta) {
                    if (data != "-") {
                        return data + '<button type="button" class="btn btn-link text-success ml-2" onclick="EditCreateDateOpen(\'' + row.feeId +'\', this, '+data+')"><i class="fas fa-calendar"></i></button>';
                    } else {
                        return data;
                    }
                }
            },
            {
                'data': 'expireDate', 'className': 'text-center m-2',
                'render': function (data, type, row, meta) {
                    if (data != "-") {
                        return data + '<button type="button" class="btn btn-link text-success ml-2" onclick="EditExpireDateOpen(\'' + row.feeId + '\', this, ' + data +')"><i class="fas fa-calendar"></i></button>';
                    } else {
                        return data;
                    }

                }
            },
            {
                'data': 'userId', 'className': 'text-center m-2', 'orderable': false,
                'render': function (data, type, row, meta) {
                    if (row.feeId == '0') {
                        return '<button type="button" class="btn btn-md btn-primary" onClick="customOpenModal(' + row.gardenId + ',' + data + ')" >납부하기</button>';
                    } else {
                        return '<button type="button" class="btn btn-md btn-info" disabled>납부됨</button>' +
                               '<button type="button" class="btn btn-md btn-danger ml-2" onclick="RemoveGardenFeeOpen(\'' + row.feeId + '\')">취소</button>';
                    }
                }
            }

        ],
        'retrieve': true,
        'responsive': true,
        'deferRender': true,
        'ordering': true,
        'info': true,
        'paging': true,
        'pageLength': 10,
        'searching': true,
        'processing': true,
    });

    //납부 삭제 여부 묻기
    function RemoveGardenFeeOpen(feeId) {
        Swal.fire({
            title: '해당 납부를 삭제하시겠어요?',
            icon: 'warning',
            confirmButtonText: '삭제',
            showCancelButton: true,
            cancelButtonText: '취소',
        }).then(function (result) {
            if (result.value) {
                RemoveGardenFee(feeId);
                
            }
        });
    }

    //납부 삭제
    function RemoveGardenFee(feeId) {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/RemoveGardenFee', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "true") {
                location.reload();
            } else {
                errorMessage();
            }
        };
        httpRequest.send('id=' + feeId);
    }

    //회비 납부 여부
    function CheckPayment(gardenId, userId, obj) {
        console.log(obj.checked);
    }

    function customOpenModal(gardenId, gardenUserId) {
        let url = '/GardenFees/Create?gardenId=' + gardenId + '&gardenUserId=' + gardenUserId + '';
        click_common_btn(url);
    }

    //회비타입 수정창 열기
    function EditFeeTypeOpen(feeId, obj) {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/GetFeeTypeList', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                let values = JSON.parse(this.response);
                let optionBox = '';
                values.forEach(function (value, index) {
                    optionBox += '<option value=' + value.id + '>' + value.name + '</option>';
                });               
                let editBox = '<div class="row">'+
                              '<div class="col-xl-6">' +
                              '<select class="form-control" id="SubTypeId_'+feeId+'">' + optionBox + '</select>' +
                              '</div>' +
                              '<div class="col-xl-6">' +
                              '<button type="button" class="btn btn-link text-primary" title="저장" onclick="EditFeeTypeValue(\''+feeId+'\')"><i class="fas fa-check-circle"></i></button>' +
                              '<button type="button" class="btn btn-link text-danger ml-1" title="취소" onclick="CancleEdit()"><i class="fas fa-pause-circle"></i></button>' +
                              '</div>'+
                              '</div>';
                              
                              

                //기존 항목 지우기
                let parentElement = obj.parentElement;
                while (parentElement.firstChild) {
                    parentElement.removeChild(parentElement.firstChild);
                }

                //수정창 추가
                parentElement.innerHTML = editBox;
            }
            else {
                console.log("회비 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId);
    }
    //회비타입 수정
    function EditFeeTypeValue(feeId) {
        let selectBox = document.getElementById('SubTypeId_' + feeId);

        let selectValue = selectBox.options[selectBox.selectedIndex].value;

        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/EditFeeTypeValue', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                location.reload();
            }
            else {
                console.log("회비 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId + '&subTypeId=' + selectValue);

    }


    //할인타입 수정창 열기
    function EditDiscountTypeOpen(feeId, obj) {
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/GetDiscountTypeList', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.reponse == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                let values = JSON.parse(this.response);
                let optionBox = '';
                values.forEach(function (value, index) {
                    optionBox += '<option value=' + value.id + '>' + value.name + '</option>';
                });
                let editBox = '<div class="row">' +
                    '<div class="col-xl-6">' +
                    '<select class="form-control" id="DiscountTypeId_' + feeId + '">' + optionBox + '</select>' +
                    '</div>' +
                    '<div class="col-xl-6">' +
                    '<button type="button" class="btn btn-link text-primary" title="저장" onclick="EditDiscountTypeValue(\'' + feeId + '\')"><i class="fas fa-check-circle"></i></button>' +
                    '<button type="button" class="btn btn-link text-danger ml-1" title="취소" onclick="CancleEdit()"><i class="fas fa-pause-circle"></i></button>' +
                    '</div>' +
                    '</div>';



                //기존 항목 지우기
                let parentElement = obj.parentElement;
                while (parentElement.firstChild) {
                    parentElement.removeChild(parentElement.firstChild);
                }

                //수정창 추가
                parentElement.innerHTML = editBox;

            }
            else {
                console.log("회비 할인 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId);
    }

    //할인타입 수정
    function EditDiscountTypeValue(feeId) {
        //DiscountTypeId_
        let selectBox = document.getElementById('DiscountTypeId_' + feeId);
        let selectValue = selectBox.options[selectBox.selectedIndex].value;

        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/EditDiscountTypeValue', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                location.reload();
            }
            else {
                console.log("회비 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId + '&discountTypeId=' + selectValue);
    }

    //납부날짜 수정창 열기
    function EditCreateDateOpen(feeId, obj, createDate) {

        let editBox = '<div class="row">' +
                    '<div class="col-xl-6">' +
                    '<input id="createDate_' + feeId + '" class="form-control create_datepicker_'+feeId+'" placeholder="클릭하세요" />'+
                    '</div>' +
                    '<div class="col-xl-6">' +
                    '<button type="button" class="btn btn-link text-primary" title="저장" onclick="EditCreateDate(\'' + feeId + '\')"><i class="fas fa-check-circle"></i></button>' +
                    '<button type="button" class="btn btn-link text-danger ml-1" title="취소" onclick="CancleEdit()"><i class="fas fa-pause-circle"></i></button>' +
                    '</div>' +
                    '</div>';

        //기존 항목 지우기
        let parentElement = obj.parentElement;
        while (parentElement.firstChild) {
            parentElement.removeChild(parentElement.firstChild);
        }

        //수정창 추가
        parentElement.innerHTML = editBox;
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.create_datepicker_'+feeId+'').datepicker();
        
      
    }

    //납부날짜 수정
    function EditCreateDate(feeId, obj) {
        let createdate = document.getElementById('createDate_' + feeId + '').value;

        if (createdate == null || createdate == '') {
            alert("납부날짜를 지정하세요!");
            return false;
        }


        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/EditCreateDate', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                location.reload();
            }
            else {
                console.log("회비 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId + '&createDate=' + createdate);
    }

    //만료날짜 수정창 열기
    function EditExpireDateOpen(feeId, obj, expireDate) {
        let editBox = '<div class="row">' +
            '<div class="col-xl-6">' +
            '<input id="expireDate_' + feeId + '" class="form-control create_datepicker_' + feeId + '" placeholder="클릭하세요" />' +
            '</div>' +
            '<div class="col-xl-6">' +
            '<button type="button" class="btn btn-link text-primary" title="저장" onclick="EditExpireDate(\'' + feeId + '\')"><i class="fas fa-check-circle"></i></button>' +
            '<button type="button" class="btn btn-link text-danger ml-1" title="취소" onclick="CancleEdit()"><i class="fas fa-pause-circle"></i></button>' +
            '</div>' +
            '</div>';

        //기존 항목 지우기
        let parentElement = obj.parentElement;
        while (parentElement.firstChild) {
            parentElement.removeChild(parentElement.firstChild);
        }

        //수정창 추가
        parentElement.innerHTML = editBox;
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.create_datepicker_' + feeId + '').datepicker();
    }

    function EditExpireDate(feeId) {
        let expireDate = document.getElementById('expireDate_' + feeId + '').value;

        if (expireDate == null || expireDate == '') {
            alert("만료날짜를 지정하세요!");
            return false;
        }


        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            errorMessage();
            return false;
        }

        httpRequest.open('POST', '/GardenFees/EditExpireDate', true);
        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        httpRequest.onload = function () {
            if (this.status === 200 && this.response == "false") {
                errorMessage();
            }
            else if (this.status === 200) {
                location.reload();
            }
            else {
                console.log("회비 타입 수정 문제 발생");
            }
        }
        httpRequest.send('feeId=' + feeId + '&expireDate=' + expireDate);
    }
    //상세조회 - 모달창
    function DetailGardenFee(feeId, obj) {

    }

    //수정 취소
    function CancleEdit() {
        location.reload();
    }
</script>
