<div class="col-xl-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-coins fa-fw"></i>
                @Html.Raw("정원 회비 관리")
            </h6>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <table class="table table-hover" id="gardenFee_dt">
                        <thead>
                            <tr>
                                <th>@Html.Raw("이름")</th>
                                <th>@Html.Raw("타입")</th>
                                <th>@Html.Raw("금액")</th>
                                <th>@Html.Raw("납부날짜")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
