@model Garden.Models.Attachment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attachment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
