@model Garden.Models.GardenTask

<div class="col-xl-12 mb-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <span class="text-info font-weight-bold mr-2">@Model.Name </span>
        </h1>
        <input type="hidden" id="GardenTaskId" value="@Model.Id"/>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" data-permission="update" onclick="openModal('GardenTasks','Edit', @Model.Id)">
                <i class="fas fa-brush fa-sm text-white-50"></i>
                @Html.Raw("수정")
            </button>
            <button class="btn btn-danger" data-permission="delete" onclick="removeGardenTask(@Model.Id)">
                <i class="fas fa-trash fa-sm text-white-50"></i>
                @Html.Raw("삭제")
            </button>
        </div>
    </div>
</div>

<div class="col-xl-12">
    <div class="card shadow mb-3">
        <div class="card-header">
            <span class="text-info font-weight-bold">
                <i class="fas fa-users fa-fw mr-2"></i>
                @Html.Raw("내용")
            </span>
        </div>
        <div class="card-body">
            @Model.Description
        </div>
    </div>
</div>

@await Html.PartialAsync("_DetailsForAttendUsers", Model) 
<script src="~/js/gardenTask.js"></script>