@model Garden.Models.GardenTask

@{
    ViewData["Title"] = "정원 업무 들여다보기";
}

<div class="col-xl-12 mb-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" onclick="openModal('GardenTasks','Edit', @Model.Id)">
                <i class="fas fa-brush fa-sm text-white-50"></i>
                @Html.Raw("수정")
            </button>
            <button class="btn btn-danger" onclick="openModal('GardenTasks','Delete', @Model.Id)">
                <i class="fas fa-trash fa-sm text-white-50"></i>
                @Html.Raw("삭제")
            </button>
        </div>
    </div>
</div>
오늘업무
<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4">
            <div class="card shadow">
                <div class="card-header">
                    <span class="text-info font-weight-bold">
                        <i class="fas fa-users fa-fw mr-2"></i>
                        @Html.Raw("업무 담당자")
                    </span>                 
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.Raw("아이디")</th>
                                <th>@Html.Raw("이름")</th>
                                <th>@Html.Raw("참여일자")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card shadow">
                <div class="card-header">
                    <span class="text-info font-weight-bold">
                        <i class="fas fa-users fa-fw mr-2"></i>
                        @Html.Raw("담당자 정보")
                    </span>
                </div>
                <div class="card-body">
                   기본적인 담당자 정보, 일한 횟수, 달성률 그래프, 몇주차인지
                </div>
            </div>
        </div>
    </div>
</div>