@model Garden.Models.GardenSpace

@{
    ViewData["Title"] = "정원 들여다 보기";
}

<div class="col-xl-12 mb-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" onclick="openModal('GardenSpaces','Edit', @Model.Id)">
                <i class="fas fa-brush fa-sm text-white-50"></i>
                @Html.Raw("수정")
            </button>
            <button class="btn btn-danger" onclick="openModal('GardenSpaces','Delete', @Model.Id)">
                <i class="fas fa-trash fa-sm text-white-50"></i>
                @Html.Raw("삭제")
            </button>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DetailsForDashBoard", Model)

@*<div>
        정원 인원 - 최근에 등록된 인원
        정원 정보 - 오늘의 업무
        정원 정보 - 스케줄
        정원 정보 - 내일의 업무
        정원 정보 - 어제의 업무 (업무 유/무)
        정원 전체 인원
        정원 오늘 생일인 인원, 등록된지 1년된 인원
    </div>*@


<input type="hidden" id="gardenSpaceId" value="@Model.Id" />

<div class="col-xl-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-calendar fa-fw"></i>
                @Html.Raw("일정")
            </h6>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>
