@model Garden.Models.GardenSpace

@{
    ViewData["Title"] = "정원 들여다 보기";
}

<link href="~/js/fullcalendar-5.6.0/lib/main.css" rel="stylesheet" />
<div class="col-xl-12 mb-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" onclick="openModal('GardenSpaces','Edit', @Model.Id)">
                <i class="fas fa-brush fa-sm text-white-50"></i>
                @Html.Raw("수정")
            </button>
            <button class="btn btn-danger" onclick="openModal('GardenSpaces','Delete', @Model.Id)">
                <i class="fas fa-trash fa-sm text-white-50"></i>
                @Html.Raw("삭제")
            </button>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DetailsForDashBoard", Model)

<input type="hidden" id="gardenSpaceId" value="@Model.Id" />
<div class="col-xl-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <i class="fas fa-calendar fa-fw"></i>
                @Html.Raw("일정")
            </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">@Html.Raw("그외 작업"):</div>
                    <button type="button" class="dropdown-item font-weight-bold" data-permission="create" onclick="openModal('GardenTasks','Create', '@Model.Id')" value="">
                        <i class="fas fa-plus-circle text-primary mr-3"></i>
                        @Html.Raw("일정 추가")
                    </button>               
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<script src="~/js/fullcalendar-5.6.0/lib/main.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>