@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="~/css/sb-admin-2.css" rel="stylesheet" />
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background-image: url('/img/flowers.jpg')"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <i class="fas fa-user fa-lg mt-3" id="register_name_icon"></i>
                                    <input type="checkbox" class="mt-2" style="width:30px; height:30px; display:none" id="register_name_checkbox" />
                                </div>
                                <div class="col-sm-11">
                                    <input type="text" id="register_name" class="form-control form-control-user" asp-for="Input.Name"
                                           placeholder="@Html.Raw("이름")" onkeyup="registerHideIcon('register_name_icon','register_name_checkbox')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <i class="fas fa-envelope fa-lg mt-3" id="register_email_icon"></i>
                                    <input type="checkbox" class="mt-2" style="width:30px; height:30px; display:none" id="register_email_checkbox" />
                                </div>
                                <div class="col-sm-11">
                                    <input type="text" id="register_name" class="form-control form-control-user" asp-for="Input.Email"
                                           placeholder="@Html.Raw("이메일")" onkeyup="registerHideIcon('register_email_icon','register_email_checkbox')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <i class="fas fa-tag fa-lg mt-3" id="register_id_icon"></i>
                                    <input type="checkbox" class="mt-2" style="width:30px; height:30px; display:none" id="register_id_checkbox" />
                                </div>
                                <div class="col-sm-8 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="register_id" asp-for="Input.UserName"
                                           placeholder="@Html.Raw("아이디")">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary btn-user btn-block" onclick="checkEmail()">
                                        @Html.Raw("중복확인")
                                    </button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <i class="fas fa-lock fa-lg mt-3" id="register_password_icon"></i>
                                    <input type="checkbox" class="mt-2 form-check" style="width:30px; height:30px; display:none" id="register_password_checkbox" />
                                </div>
                                <div class="col-sm-11">
                                    <input type="password" class="form-control form-control-user" id="register_password" asp-for="Input.Password"
                                           placeholder="@Html.Raw("비밀번호")" onkeyup="checkPasswordValue()">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <i class="fas fa-lock fa-lg mt-3" id="register_password_check_icon"></i>
                                    <input type="checkbox" class="mt-2" style="width:30px; height:30px; display:none" id="register_password_check_checkbox" />
                                </div>
                                <div class="col-sm-11">
                                    <input type="password" class="form-control form-control-user" id="register_password_check"
                                           placeholder="@Html.Raw("비밀번호 확인")" onkeyup="checkPasswordLength()">
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary btn-user btn-block" style="display:none;" id="create_account_btn" value="@Html.Raw("계정 생성하기")" />

                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">@Html.Raw("비밀번호를 잊으셨나요?")</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">@Html.Raw("로그인 하기")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.js"></script>
<script src="~/js/sb-admin-2.js"></script>
<script src="~/js/register.js"></script>
@*<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
